.App {
  text-align: center;
}

.header{
  height: 50px;
  margin: auto;
padding-top: 10px;
}

.header-item{
  display: inline;
  margin: 20px;
}

.centered-list{

  margin-right: auto;
  margin-left: auto;
}
.align-left{
  text-align: left;
}

.width-80{
  width: 80px
}

.width-300{
  width:300px;
}